.button {
  border: none;
  color: var(--white);
  padding: 4px 12px;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
}

button:disabled {
  cursor: default;
  opacity: 0.5;
}

.primary {
  background-color: var(--gray-600);
}

.secondary {
  background-color: transparent;
  transition: background-color 0.2s linear;
}

.cancel {
  background-color: var(--red);
}

.secondary:hover {
  background-color: var(--gray-600);
}
