.text_area {
  background-color: var(--gray-400);
  color: var(--gray-600);
  width: 100%;
  overflow: hidden;
  border-radius: 8px;
  padding: 8px;
  transition: outline 0.1s linear;
}

.title {
  color: var(--gray-400);
}

.text_area:focus {
  outline: none;
}

.text_area:hover {
  outline: 2px solid var(--white);
}

.text_area:focus-visible {
  outline: 2px solid var(--white);
}
