.input {
  display: none;
}

.button_input {
  width: 100%;
  padding: 8px 0;
  color: var(--gray-400);
  font-size: 18px;
  background-color: var(--gray-600);
  border: dotted 3px var(--gray-400);
  transition: color 0.1s linear, border 0.1s linear;
  cursor: pointer;
}

.button_input:hover {
  color: var(--white);
  border: dotted 3px var(--white);
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 180px;
  width: 400px;
  margin: auto;
}

.error {
  font-size: 12px;
  color: var(--red);
}

.button_create {
  display: flex;
  align-items: center;
  gap: 4px;
}

.post_image {
  display: block;
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
  border-radius: 12px;
}

.image_button {
  background: none;
  cursor: pointer;
  border: none;
  position: relative;
}

.update_photo {
  background-color: #0000004d;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-size: 18px;
  border-radius: 12px;
  transition: opacity 0.2s ease-in-out;
}

.image_button:hover .update_photo {
  opacity: 1;
}
