.title {
  color: #fff;
  text-align: center;
}

.login_card {
  height: 280px;
  width: 320px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: #777;
}

.buttons {
  display: flex;
  justify-content: space-around;
}
