.container {
  height: 100%;
}

.title {
  color: var(--white);
  text-align: center;
  font-size: large;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 280px;
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: var(--grey-900);

  @media (width <= 640px) {
    width: calc(100% - 32px);
    max-width: 320px;
  }
}
