.post_card {
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.image {
  width: 100%;
  aspect-ratio: 4/3;
}

.data {
  display: flex;
  justify-content: space-between;
  color: var(--gray-400);
  font-size: 12px;
}

.title {
  color: var(--white);
}

.text {
  color: var(--gray-400);
  font-size: 14px;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 12px;
  color: var(--gray-400);
}

.icon {
  height: 16px;
  width: 16px;
}

.actions {
  background: none;
  border: none;
  color: var(--gray-400);
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  gap: 4px;
}

.actions:hover {
  color: var(--white);
}
