* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
}

:root {
  --gray-400: #99a1af;
  --gray-600: #4a5565;
  --gray-900: #101828;
  --black: #000;
  --white: #fff;
  --red: #f00;
}
